In [1]:
from flask import Flask, jsonify, redirect, render_template
from scipy import stats
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime
from dateutil.relativedelta import relativedelta
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
#################################################
# Database Setup
#################################################
engine = create_engine("sqlite:///project1_db.db")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
db_324 = Base.classes.db324
db_325 = Base.classes.db325
db_326 = Base.classes.db326
db_327 = Base.classes.db327
db_328 = Base.classes.db328
db_329 = Base.classes.db329
db_330 = Base.classes.db330
db_331 = Base.classes.db331
db_401 = Base.classes.db401
db_402 = Base.classes.db402
db_403 = Base.classes.db403
db_404 = Base.classes.db404
db_405 = Base.classes.db405
db_406 = Base.classes.db406
db_407 = Base.classes.db407
db_408 = Base.classes.db408
session = Session(engine)
#################################################
# Flask Setup
#################################################
app = Flask(__name__)

In [3]:
master_list_confirmed= []
master_list_confirmed.append(list(session.query(db_324.Confirmed).filter(db_324.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_325.Confirmed).filter(db_325.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_326.Confirmed).filter(db_326.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_327.Confirmed).filter(db_327.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_328.Confirmed).filter(db_328.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_329.Confirmed).filter(db_329.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_330.Confirmed).filter(db_330.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_331.Confirmed).filter(db_331.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_401.Confirmed).filter(db_401.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_402.Confirmed).filter(db_402.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_403.Confirmed).filter(db_403.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_404.Confirmed).filter(db_404.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_405.Confirmed).filter(db_405.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_406.Confirmed).filter(db_406.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_407.Confirmed).filter(db_407.Province_State == "Arizona")))
master_list_confirmed.append(list(session.query(db_408.Confirmed).filter(db_408.Province_State == "Arizona")))

In [4]:
county_list = list(session.query(db_403.Admin2).filter(db_403.Province_State == "Arizona"))
county_list1 = []
for i in county_list:
    county_list1.append(str(i[-1]))
county_list1

['Apache',
 'Cochise',
 'Coconino',
 'Gila',
 'Graham',
 'Greenlee',
 'La Paz',
 'Maricopa',
 'Mohave',
 'Navajo',
 'Pima',
 'Pinal',
 'Santa Cruz',
 'Unassigned',
 'Yavapai',
 'Yuma']

In [64]:
date_list = ["March_24","March_25","March_26","March_27","March_28","March_29","March_30","March_31","April_1",
             "April_2","April_3","April_4","April_5","April_6","April_7","April_8"]

In [65]:
x=[str(l).strip("(,)") for i in master_list_confirmed for l in i]
n=16
final = [x[i * n:(i + 1) * n] for i in range((len(x) + n - 1) // n )]
dict = {}
count=0
for i in final:
    dict.update({date_list[count]:i})
    count+=1
county_confirmed_df = pd.DataFrame(dict,index = county_list1).drop(["Unassigned"])
county_confirmed_df

,March_24,March_25,March_26,March_27,March_28,March_29,March_30,March_31,April_1,April_2,April_3,April_4,April_5,April_6,April_7,April_8
Apache,4,7,9,11,13,13,17,16,33,35,39,42,45,58,65,78
Cochise,1,1,2,2,3,3,4,4,4,4,5,7,8,9,9,9
Coconino,18,23,28,41,56,62,71,81,117,146,175,196,238,257,281,288
Gila,0,0,0,0,1,1,1,1,1,2,2,3,3,3,3,3
Graham,2,2,2,4,2,2,2,2,2,2,2,3,2,2,2,2
Greenlee,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1
La Paz,0,0,2,2,2,2,2,2,2,2,2,2,3,3,3,3
Maricopa,199,251,299,399,454,545,690,788,871,961,1049,1171,1326,1433,1495,1559
Mohave,0,0,2,4,5,6,7,7,7,8,9,12,16,20,23,23
Navajo,32,37,43,49,57,62,88,91,171,198,245,274,307,359,378,404
Pima,42,49,75,102,120,153,187,202,217,237,280,326,372,415,415,464
Pinal,22,23,35,36,41,51,64,62,65,69,77,89,103,106,120,124
Santa Cruz,1,1,2,2,2,2,2,2,3,3,3,4,4,4,5,6
Yavapai,3,4,5,9,13,12,15,21,24,34,35,43,45,49,57,58
Yuma,2,3,4,4,4,5,6,9,12,13,13,14,13,13,13,14

In [66]:
json_confirmed_data_for_graphing1 = county_confirmed_df.to_json(orient='columns')
json_confirmed_data_for_graphing2 = county_confirmed_df.to_json(orient='index')
json_confirmed_data_for_graphing3 = county_confirmed_df.to_json(orient='values')

In [67]:
master_list_deaths = []
master_list_deaths.append(list(session.query(db_324.Deaths).filter(db_324.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_325.Deaths).filter(db_325.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_326.Deaths).filter(db_326.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_327.Deaths).filter(db_327.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_328.Deaths).filter(db_328.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_329.Deaths).filter(db_329.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_330.Deaths).filter(db_330.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_331.Deaths).filter(db_331.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_401.Deaths).filter(db_401.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_402.Deaths).filter(db_402.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_403.Deaths).filter(db_403.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_404.Deaths).filter(db_404.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_405.Deaths).filter(db_405.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_406.Deaths).filter(db_406.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_407.Deaths).filter(db_407.Province_State == "Arizona")))
master_list_deaths.append(list(session.query(db_408.Deaths).filter(db_408.Province_State == "Arizona")))

In [68]:
x=[str(l).strip("(,)") for i in master_list_deaths for l in i]
n=16
final = [x[i * n:(i + 1) * n] for i in range((len(x) + n - 1) // n )]
dict = {}
count=0
for i in final:
    dict.update({date_list[count]:i})
    count+=1
county_deaths_df = pd.DataFrame(dict,index = county_list1).drop(["Unassigned"])
county_deaths_df

,March_24,March_25,March_26,March_27,March_28,March_29,March_30,March_31,April_1,April_2,April_3,April_4,April_5,April_6,April_7,April_8
Apache,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Cochise,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Coconino,0,1,1,2,2,2,2,2,2,5,5,10,10,10,10,14
Gila,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Graham,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Greenlee,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
La Paz,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Maricopa,2,2,2,5,5,5,5,5,5,12,12,28,31,31,35,37
Mohave,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Navajo,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1
Pima,1,1,1,4,4,4,4,4,4,11,11,11,12,13,13,16
Pinal,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Santa Cruz,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Yavapai,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Yuma,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [69]:
json_deaths_data_for_graphing1 = county_deaths_df.to_json(orient='columns')
json_deaths_data_for_graphing2 = county_deaths_df.to_json(orient='index')
json_deaths_data_for_graphing3 = county_deaths_df.to_json(orient='values')

In [70]:
county_deaths_df.sum()

March_24    2.001000e+07
March_25    1.000020e+12
March_26    1.000020e+12
March_27    2.000050e+12
March_28    2.000050e+12
March_29    2.000050e+12
March_30    2.000050e+12
March_31    2.000050e+12
April_1     2.000050e+12
April_2     5.000012e+14
April_3     5.000012e+14
April_4     1.000003e+15
April_5     1.000003e+15
April_6     1.000003e+15
April_7     1.000004e+15
April_8     1.400004e+15
dtype: float64

In [63]:
json_confirmed_data_for_graphing1 = county_confirmed_df.to_json(orient='columns')
json_confirmed_data_for_graphing2 = county_confirmed_df.to_json(orient='index')
json_confirmed_data_for_graphing3 = county_confirmed_df.to_json(orient='values')